{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI chats</title>
</head>
<body>
    <h1>Hello Ai</h1>
    <div>
        {% for chat in all_chat_list%}
            <p>Q: {{ chat.question }}</p>
            <p>A: {{ chat.answer }}</p>
        {% endfor %}
    </div>
    <form style="width:50%; margin:auto;" method="post">
        <h1>Add a Question</h1>
        {% csrf_token %}    
        {{ form | crispy }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</body>
</html>